Advanced Web Programming/XML/XML Programs/books.xsd

<?xml version="1.0" encoding="ISO-8859-1" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="bookstore">
<xs:complextype>
<xs:sequence>
<xs:element name="book">
<xs:complextype>
<xs:sequence>
<xs:element name="title" type="xs:string">
<xs:complextype>
<xs:attribute name="lang" type="xs:string" use="required"/>
<xs:complextype>
</xs:element>
<xs:element name="author" type="xs:string"/>
<xs:element name="year" type="xs:integer"/>
<xs:element name="price" type="xs:integer"/>
</xs:sequence>
</xs:complextype>
</xs:element>
</xs:sequence>
<xs:attribute name="category" type="xs:string" use="required"/>
</xs:complextype>
</xs:element>
</xs:schema>