Advanced Web Programming/XML/XML Programs/dtds/customers.dtd

<!ELEMENT CUSTOMER ( NAME, DATE, ORDERS ) >
<!ATTLIST CUSTOMER TYPE NMTOKEN #REQUIRED >

<!ELEMENT CUSTOMERS ( CUSTOMER+ ) >

<!ELEMENT DATE ( #PCDATA ) >

<!ELEMENT FIRST_NAME ( #PCDATA ) >

<!ELEMENT ITEM ( PRODUCT, NUMBER, PRICE ) >

<!ELEMENT LAST_NAME ( #PCDATA ) >

<!ELEMENT NAME ( FIRST_NAME, LAST_NAME ) >

<!ELEMENT NUMBER ( #PCDATA ) >

<!ELEMENT ORDERS ( ITEM+ ) >

<!ELEMENT PRICE ( #PCDATA ) >

<!ELEMENT PRODUCT ( #PCDATA ) >
